img{
    border: 5px solid black;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    width: 400px;
}

body{
    background-color: burlywood;
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;

}

h5{
    text-align: center;
}